<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employeeList; let i=index ">
        <th scope="row">{{i+1}}</th>
        <td>{{item.Name}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.MobileNumber}}</td>
        <td>{{item.Address}}</td>
        <td>
          <button  type="button" class="btn btn-space btn-sm btn-primary" (click)="onEdit(item.Id)">Edit </button>
          <button  type="button" class="btn btn-space btn-sm btn-danger" (click)="onDelete(item.Id)">Delete </button>
        </td>
        
      </tr>
    </tbody>
  </table>
