<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group row">
      <label for="Name" class="control-label col-md-3">Name</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="Name" name="Name" #Name="ngModel" ngModel placeholder="Name" required>
        <span *ngIf="Name.invalid &&Name.touched" style="color:#dc3545;">
          Name is required.
        </span>   
      </div>
    </div>
  
    <div class="form-group row">
        <label for="Email" class="control-label col-md-3">Email</label>
        <div class="col-md-9">
          <input type="email" class="form-control" id="Email" name="Email" #Email="ngModel" ngModel placeholder="Email" required>
          <span *ngIf="Email.invalid &&Email.touched" style="color:#dc3545;">
            Email is required.
          </span>   
        </div>
      </div>

    <div class="form-group row">
      <label for="MobileNumber" class="control-label col-md-3">Mobile Number</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" #MobileNumber="ngModel" ngModel placeholder="Mobile Number" required>
        <span *ngIf="MobileNumber.invalid &&MobileNumber.touched" style="color:#dc3545;">
            Mobile Number is required.
        </span>
      </div>
    </div>
  
    <div class="form-group row">
      <label for="Address" class="control-label col-md-3">Address</label>
      <div class="col-md-9">
        <textarea class="form-control" id="Address" name="Address" ngModel placeholder="Address"></textarea>
      </div>
    </div>
  

    <div class="row">
      <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
  
      </div>
      <div class="col-sm-6 pl-0">
        <p class="text-right">
          <button type="submit" class="btn btn-space btn-success" [disabled]="!form.valid">{{editMode?'Update':'Add'}}</button>
          <button type="button" class="btn btn-space btn-secondary" (click)="reset(form)">Cancel</button>
        </p>
      </div>
    </div>
  </form>